
.img{
    float: left;
    width: 30%;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 50px;
}

p{
    line-height: 40px;
}

.content{
    width: 95%;
    font-size: 20px;

}

.button{
  
    border: 2px solid black;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
 

}